*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', Arial, helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #17191C;
  color: #fff;
  line-height: 1.42;
  height: 100%;
}


h1,
h2 {
  margin: 0;
  font-weight: 800;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  /* overflow-x: hidden; */
  min-width: 1140px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-page-wrapper {
  min-height: 100%;
  background: url(../../img/bg/hero.png) center top no-repeat, url(../../img/bg/bottom-pic.png) center bottom 306px no-repeat;
}

.container {
  width: 1140px;
  margin: 0 auto;
  /* min-height: 100%; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; */
}

.container__content {
  flex: 1 1 auto;
}


.top-line {
  background: url(../../img/bg/top-line.jpg) center top / cover no-repeat;
}

.breadcrumbs {
  display: flex;
  font-size: 14px;
  text-decoration: underline;
  color: #9A9A9A;

}

.breadcrumbs--active{
  font-weight: bold;
}

.breadcrumbs li {
  margin-right: 5px;
}

.breadcrumbs li::after {
  display: inline-block;
  content: "/";
  /* margin-left: 5px; */
}

.breadcrumbs li:last-child::after {
  content: none;
}