.about {}

.about__main {
  margin-bottom: 56px;
  display: flex;
}

.about__main::before {
  display: block;
  content: "";
  width: 490px;
  height: 505px;
  background: url("../../img/content/cameraman.png") center center / cover no-repeat;

}


.about__desc {
  background: #FFFFFF;
  color: #000;
  padding: 70px 80px;
  /* max-width: 785px; */
  margin-left: -136px;
  margin-top: 96px;
  border-radius: 5px;
  flex: 1;
}

.about__desc h2 {
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 37px;
}

.about__text {
  width: 502px;
  margin-bottom: 36px;
}

.about__text p {
  margin-bottom: 20px;
  line-height: 1.7;
}

.about__text p:last-child {
  margin-bottom: 0;
}

.about__btn {
  color: #fff;
  padding: 18px 40px
}
