.hello-page-wrapper {
  background: url(../../img/bg/bg.jpg) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hello-container {
  background: url(../../img/bg/rec.png);
  display: flex;
  max-width: 1130px;
  width: 100%;
  max-height: 643px;
  height: 643px;
  justify-content: center;
  align-items: center;

}