.nav--header {
  margin-top: 19px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  min-width: 264px;
}

.nav__item {
  margin-right: 10px;
}

.nav__item--active .nav__link {
  color: #FF6D00;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  font-size: 14px;
  transition: .5s;
}

/* .nav__link:visited {
  color: #FF6D00;
} */

.nav__link:hover {
  color: #FF3D00;
}
.nav--footer {
  padding-top: 17px;
}