.news {
  margin-bottom: 140px;
}

.news__header h2 {
  font-size: 36px;
  margin-bottom: 48px;
}

.news__list {
  margin-bottom: 58px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  flex: 1;
  margin-right: 2.3%;
}

.news__item:last-child {
  margin-right: 0;
}

.single-news__link {
  /* width: 557px; */
  height: 394px;
  padding: 0 83px 23px 30px;
  display: flex;
  flex-direction: column-reverse;
}

.single-news__link--camera {
  background: url(../../img/content/camera.png) ;
  /* background-size: cover; */

}

.single-news__link--wedding {
  background: url(../../img/content/wedding.png);
  /* background-size: cover; */
}

.single-news__content time {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
}

.single-news__content h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 5px;
}