.pagination {
  display: flex;
  justify-content: center;
}

.pagination__page {
  line-height: 32px;
  margin-right: 23px;
  padding-left: 11px;
}

.pagination__list {
  display: flex;
  /* justify-content: space-between; */
}

.pagination__item {
  font-weight: 700;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  margin-right: 2px;
  transition: 0.3s;
}

.pagination__item:last-child {
  margin-right: 0;
}



.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  text-align: center;
}

.pagination__item:hover {
  background: #FF5500;
}

.pagination--light {
  color: #000;
}

.pagination--light .pagination__item:hover {
  color:#fff;
}