
.partners {
  background: #F4F5F5;
  color: #000;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.partners__main {
  width: 1140px;
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 50px;
}

.partners__main h2 {
  font-weight: 700;
  font-size: 48px;
  text-transform: none;
  margin-bottom: 82px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 252px;
}

.partners__item {
  margin-right: 100px;
}