
.partners {
  background: #F4F5F5;
  color: #000;
  padding-top: 88px;
  padding-bottom: 102px;
}

.partners__main {
}

.partners__header {
  font-weight: 700;
  font-size: 48px;
  text-transform: none;
  margin-bottom: 82px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 56px;
}

.partners__item {
  margin-right: 100px;
  flex-grow: 1;
  min-width: 182px;
  filter: grayscale(1);
}

.partners__item:nth-child(4n+4) {
  margin-right: 0;
  text-align: center;
}

.partners__item:hover {
  filter: grayscale(0);
}