.services-hello {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  min-height: 202px;
  justify-content: space-between;
}

.services-hello__header{
  margin-top: 0;
  font-size: 72px;
  font-weight: 800;
}